EXERCICIO 14/03 - CALCULAR:

    MÉDIA, MEDIANA E MODA
    
    VARIÂNCIA, DESVIO PADRÃO
    
    QUARTIS, DECIS, PERCENTIS

In [31]:
import os
import math
import numpy as np
import pandas as pd
import statistics as stat

dados= pd.read_csv("exerciciocasa1_Idades.csv")
dados

    Unnamed: 0  Paciente  partos  Idades
0            0         1       4      58
1            1         2       0      41
2            2         3       2      57
3            3         4       3      40
4            4         5       2      63
5            5         6       2      46
6            6         7       3      44
7            7         8       3      58
8            8         9       0      48
9            9        10       3      46
10          10        11       1      42
11          11        12       2      46
12          12        13       8      34
13          13        14       3      63
14          14        15       4      67
15          15        16       2      58
16          16        17       1      37
17          17        18       2      53
18          18        19       2      35
19          19        20       2      37
20          20        21       2      69
21          21        22       2      45
22          22        23       3      67
23          23        24       2      53
24          24        25       2      50
25          25        26       3      65
26          26        27       0      62
27          27        28       3      43
28          28        29       2      64
29          29        30       4      66
30          30        31       0      53
31          31        32       1      50
32          32        33       3      34
33          33        34       5      49
34          34        35       1      56
35          35        36       1      54
36          36        37       0      60
37          37        38       3      62
38          38        39       2      31
39          39        40       1      45

In [47]:
mediaPartos = stat.mean(dados["partos"])
modaPartos= stat.mode(dados["partos"])
medianaPartos = stat.median(dados["partos"])
varianciaPartos = stat.variance(dados["partos"])
SDPartos = stat.stdev(dados["partos"])
print("A média de partos é: % s." % int(mediaPartos))
print("A moda de partos é: % s." %modaPartos)
print("A mediana de partos é: % s." % int(medianaPartos))
print("A variância de partos é: % s." % int(varianciaPartos))
print("O desvio padrão de partos é: % s." % int(SDPartos))

A média de partos é: 2.
A moda de partos é: 2.
A mediana de partos é: 2.
A variância de partos é: 2.
O desvio padrão de partos é: 1.

In [46]:
mediaIdades = stat.mean(dados["Idades"])
modaIdades= stat.mode(dados["Idades"])
medianaIdades = stat.median(dados["Idades"])
varianciaIdades = stat.variance(dados["Idades"])
SDIdades = stat.stdev(dados["Idades"])
print("A média de Idades é: % s." % int(mediaIdades))
print("A moda de Idades é: % s." %modaIdades)
print("A mediana de Idades é: % s." % int(medianaIdades))
print("A variância de Idades é: % s." % int(varianciaIdades))
print("O desvio padrão de Idades é: % s." % int(SDIdades))

A média de Idades é: 51.
A moda de Idades é: 58.
A mediana de Idades é: 51.
A variância de Idades é: 114.
O desvio padrão de Idades é: 10.

In [35]:
n=0.00
percent=[n]

for i in range (1,100):
    n=n+0.01
    percent.append(n)
quartilPartos = dados["partos"].quantile([0.25,0.5,0.75]).reset_index()
decilPartos = dados["partos"].quantile([0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]).reset_index()

percentilPartos = dados["partos"].quantile(percent).round(decimals=0).reset_index() 
quartilPartos.columns=['quartil','valor']
decilPartos.columns=['decil','valor']
percentilPartos.columns=['percentil','valor']

In [36]:
quartilPartos

   quartil  valor
0     0.25    1.0
1     0.50    2.0
2     0.75    3.0

In [37]:
decilPartos

   decil  valor
0    0.1    0.0
1    0.2    1.0
2    0.3    2.0
3    0.4    2.0
4    0.5    2.0
5    0.6    2.0
6    0.7    3.0
7    0.8    3.0
8    0.9    4.0

In [38]:
percentilPartos

    percentil  valor
0        0.00    0.0
1        0.01    0.0
2        0.02    0.0
3        0.03    0.0
4        0.04    0.0
..        ...    ...
95       0.95    4.0
96       0.96    4.0
97       0.97    5.0
98       0.98    6.0
99       0.99    7.0

[100 rows x 2 columns]

In [ ]:
# n=0.00
percent=[n]

for i in range (1,100):
    n=n+0.01
    percent.append(n)
quartilIdades = dados["Idades"].quantile([0.25,0.5,0.75]).reset_index()
decilIdades = dados["Idades"].quantile([0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]).reset_index()

percentilIdades = dados["Idades"].quantile(percent).round(decimals=0).reset_index() 
quartilIdades.columns=['Quartil','Valor']
decilIdades.columns=['Decil','Valor']
percentilIdades.columns=['Percentil','Valor']

quartilIdades

In [32]:
decilIdades

   Decil  Valor
0    0.1   36.8
1    0.2   41.8
2    0.3   45.0
3    0.4   47.2
4    0.5   51.5
5    0.6   54.8
6    0.7   58.0
7    0.8   62.2
8    0.9   65.1

In [33]:
percentilIdades

    Percentil  Valor
0        0.00   31.0
1        0.01   32.0
2        0.02   33.0
3        0.03   34.0
4        0.04   34.0
..        ...    ...
95       0.95   67.0
96       0.96   67.0
97       0.97   67.0
98       0.98   67.0
99       0.99   68.0

[100 rows x 2 columns]