Neste ficheiro vamos fazer a avaliação para os pesos. Primeiro é preciso saber em que diretoria estamos:

In [1]:
import numpy as np
import pandas as pd
import os

os.getcwd()

'C:\\Users\\nequi'

Para mudarmos de diretoria,

In [2]:
import numpy as np
import pandas as pd
import os

os.chdir("/Users")
os.getcwd()
os.chdir("/Users/nequi")
os.getcwd()

'C:\\Users\\nequi'

E agora vou importar o ficheiro csv, relativo aos pesos

In [3]:
import numpy as np
import pandas as pd
import os

dados = pd.read_csv("tpc2.csv")

Para verificar que não há nenhum problema,

In [4]:
import numpy as np
import pandas as pd
import os

dados = pd.read_csv("tpc2.csv")     #ler os dados
dados.describe()
#Esta tabela vai permitir comparar alguns valores, nomeadamente dos quartis

               D         peso      Apgar
count  30.000000    30.000000  30.000000
mean   15.500000  3644.366667   6.900000
std     8.803408   376.751860   1.398275
min     1.000000  2860.000000   4.000000
25%     8.250000  3399.250000   6.000000
50%    15.500000  3614.000000   7.000000
75%    22.750000  3893.500000   8.000000
max    30.000000  4490.000000   9.000000

E antes de começar vou ainda verificar o ficheiro,

In [15]:
import numpy as np
import pandas as pd
import os

dados = pd.read_csv("tpc2.csv")     #ler os dados
dados.head(30)

     D  peso  Apgar
0    1  3710      8
1    2  3650      7
2    3  4490      8
3    4  3421      6
4    5  3399      6
5    6  4094      9
6    7  4006      8
7    8  3287      5
8    9  3594      7
9   10  4206      9
10  11  3508      7
11  12  4010      8
12  13  3896      8
13  14  3800      8
14  15  2860      4
15  16  3798      8
16  17  3666      7
17  18  4200      9
18  19  3615      7
19  20  3193      4
20  21  2994      5
21  22  3266      5
22  23  3400      6
23  24  4090      8
24  25  3303      6
25  26  3447      6
26  27  3388      6
27  28  3613      7
28  29  3541      7
29  30  3886      8

Quero calcular a moda, a média e a mediana com o phyton,
Posso utilizar o "statistics" ,

In [16]:
import os
import math
import numpy as np
import pandas as pd
import statistics

dados = pd.read_csv("tpc2.csv") 
M1= statistics.mean(dados["peso"])
M2 = statistics.median(dados["peso"])

#print dos valores obtidos, 
print("A media da variável peso é % s" %int (M1))
print("A mediana da variável peso é % s" % M2)
print("Não existe valor para a moda nestes dados")

A media da variável peso é 3644
A mediana da variável peso é 3614.0
Não existe valor para a moda nestes dados

Mas, é possível fazer o código sem utilizar o statistics, então,

Começando pela média,

In [6]:
import os
import math
import numpy as np
import pandas as pd

dados = pd.read_csv("tpc2.csv") 
Ntotal =len(dados)                # número de dados
soma=sum(dados["peso"])           #calcular a soma
média=soma/Ntotal           
print("A média da variável peso é % s" % int(média))

A média da variável peso é 3644

Obtivemos o mesmo valor.

Podem ainda ser utilizadas as frequências para o cálculo da média,

In [8]:
import os
import math
import numpy as np
import pandas as pd

dados = pd.read_csv("tpc2.csv") 
peso = dados["peso"].value_counts().reset_index(name='Count').rename(columns={'Col1':'Col_value'}) 
peso.columns=['peso','contagem']
Ntotal=sum(peso["contagem"])                # usamos a frequência total
soma=sum(peso["peso"]*peso["contagem"])     #somamos ponderando com frequências
média=soma/Ntotal
print("A média da variável peso é % s." % int(média))

A média da variável peso é 3644.

Mais uma vez obtivemos o mesmo valor, tal como era previsto.

Agora, passamos para o cálculo da mediana,

In [2]:
import os
import math
import numpy as np
import pandas as pd

dados = pd.read_csv("tpc2.csv") 
Ntotal=len(dados)
peso=dados["peso"].sort_values().reset_index(drop=True)            # precisamos de ordenar os dados

if Ntotal % 2 == 0:                                # casos de distribuição par
    medianax=peso[Ntotal//2-1]
    medianay=peso[Ntotal//2 ]                  # buscar os dois valores centrais
    mediana=(medianax+medianay)/2
else:
    mediana=peso[Ntotal//2]
print("A mediana da variável peso é % s" % mediana)

A mediana da variável peso é 3614.0

Comparando os valores do excel, com os valores obtidos no phyton para a média e mediana, obtiveram-se resultados satisfatórios.

Agora, como o Python permite também determinar valores de localização não central - os quantis, vamos determinar os quantis, percentis e decis.
Utilizando o "statistics".

In [14]:
import os
import math
import numpy as np
import pandas as pd
import statistics

percent=[0]
n=0.00
for i in range (1,100):
    n=n+0.01
    percent.append(n)
    
dados = pd.read_csv("tpc2.csv") 
percentis = dados["peso"].quantile(percent).reset_index()         #podemos arredondar
percentis.columns=['percentil','valor']
print("Valores para os percentis do peso, ")
percentis

Valores para os percentis do peso,

    percentil    valor
0        0.00  2860.00
1        0.01  2898.86
2        0.02  2937.72
3        0.03  2976.58
4        0.04  3025.84
..        ...      ...
95       0.95  4203.30
96       0.96  4205.04
97       0.97  4242.92
98       0.98  4325.28
99       0.99  4407.64

[100 rows x 2 columns]

Podemos agora calcular para os quartis,

In [11]:
import os
import math
import numpy as np
import pandas as pd
import statistics

percent=[0]
n=0.00
for i in range (1,100):
    n=n+0.01
    percent.append(n)
    
dados = pd.read_csv("tpc2.csv") 
quartis = dados["peso"].quantile([0,0.25,0.5,0.75,1]).reset_index()
quartis.columns=['quartil','valor']
print("Valores para os quartis do peso, ")
quartis

Valores para os quartis do peso,

   quartil    valor
0     0.00  2860.00
1     0.25  3399.25
2     0.50  3614.00
3     0.75  3893.50
4     1.00  4490.00

E por último os valores para os decis,

In [13]:
import os
import math
import numpy as np
import pandas as pd
import statistics

percent=[0]
n=0.00
for i in range (1,100):
    n=n+0.01
    percent.append(n)

dados = pd.read_csv("tpc2.csv") 
decis = dados["peso"].quantile([0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]).reset_index()
percentis = dados["peso"].quantile(percent).round(decimals=0).reset_index()

decis.columns=['decil','valor']
percentis.columns=['percentil','valor']
print("Valores para os decis do peso, ")
decis

Valores para os decis do peso,

    decil   valor
0     0.0  2860.0
1     0.1  3258.7
2     0.2  3371.0
3     0.3  3414.7
4     0.4  3527.8
5     0.5  3614.0
6     0.6  3683.6
7     0.7  3825.8
8     0.8  4006.8
9     0.9  4104.6
10    1.0  4490.0

Comparando os valores do excel, com os valores obtidos no phyton para os quartis, percentis e decis, obtiveram-se resultados satisfatórios.